{{- $email := promptStringOnce . "email" "Git email address" -}}
encryption = "age"

[age]
    identity = "~/.config/chezmoi/key.txt"
    recipient = "age1chaldfz50x856n3wlza7p9htmhdnek8gqjw6smc5ls0pfawt2fns4uw8tc"

[data]
email = {{ $email | quote }}
{{- if eq .chezmoi.os "darwin" }}
font_size = 16
device = "work-macbook"
{{- else }}
font_size = 16
{{- end }}
