Session.vim

git/.config/git/credentials

gh/.config/gh/hosts.yml

nvim/.config/nvim/autoload
nvim/.config/nvim/undo
nvim/.config/nvim/plugin/packer_compiled.lua

zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
