gh/.config/gh/hosts.yml

git/.config/git/credentials

lazygit/.config/lazygit/state.yml

nvim/.config/nvim/autoload
nvim/.config/nvim/lua/.luarc.json
nvim/.config/nvim/plugin/packer_compiled.lua
nvim/.config/nvim/undo

Session.vim

zsh/.config/zsh/plugins
zsh/.config/zsh/.zcompdump
nvim/.config/nvim/lazy-lock.json
